<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member.dao.MemberDAO">
 	<!-- 로그인 -->
 	<select id="login" parameterType ="MemberVO" resultType ="MemberVO">
 		select id, name, type
 			from member
 		  where id =#{id} and password =#{password}
 	</select>
 	
 	<!-- 회원가입 -->
 	<insert id= "insert" parameterType="MemberVO">
 		insert into member(id, password, name, nickname, phone1,phone2,phone3 )
 			values(#{id}, #{password} , #{name},#{nickname}, #{phone1}, #{phone2},#{phone3} )
 	</insert> 
	 
	<!-- 회원조회 -->
	<select id="selectUserById" parameterType="string" resultType="MemberVO">
		select id, password, name, nickname, to_char(reg_date, 'yyyy-mm-dd') regDate, phone1, phone2, phone3
		 from member where id=#{id}
	</select>
	
	<!-- 업데이트 -->
	<update id="updateUser" parameterType="MemberVO">
		update member set password=#{password},nickname=#{nickname},phone1=#{phone1},phone2=#{phone2},phone3=#{phone3}
		where id=#{id}
	</update>
</mapper>